<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Кольори</title>
    <link rel="stylesheet" th:href="@{/static/assets/css/index.min.css}"/>
    <div layout:fragment="styles">
        <link th:href="@{'/assets/gLightbox/glightbox.css'}" rel="stylesheet"/>
    </div>
    <div layout:fragment="scripts">
        <script th:src="@{'/assets/gLightbox/glightbox.js'}"></script>
        <script><!--Opens in frame above instead of opening new page-->
        var lightbox = GLightbox({'selector': 'glightbox-demo'});
        </script>
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1>GLightbox: Gallery Lightbox DEMO</h1>
        <div th:each="item : ${list}">
            <a th:href="${item.getContent()}" class="glightbox-demo">
                <img th:src="${item.getImage()}" alt="image">
            </a>
        </div>
<!--        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12085.977306439116!2d-73.96648875371474!3d40.77314541916876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258bf08488f6b%3A0x618706a9142daa0d!2sUpper+East+Side%2C+Nueva+York%2C+EE.+UU.!5e0!3m2!1ses-419!2smx!4v1511830027642"-->
<!--           class="glightbox-demo">-->
<!--            <img src="https://picsum.photos/401/300/?random" alt="image">-->
<!--        </a>-->
<!--        <a href="https://www.youtube.com/watch?v=Ga6RYejo6Hk" class="glightbox-demo">-->
<!--            <img src="https://picsum.photos/402/300/?random" alt="image">-->
<!--        </a>-->

<!--        <a href="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" class="glightbox-demo">-->
<!--            <img src="https://cdn.jpegmini.com/user/images/slider_puffin_before_mobile.jpg" alt="image">-->
<!--        </a>-->
    </div>
</div>
</body>
</html>