<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Редагувати автомобіль</title>
    <link rel="stylesheet"
          th:href="@{/static/assets/css/index.min.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h1>Редагувати автомобіль
        <label name="name" th:text="${car.getVendor()}"></label>
        <label name="name" th:text="${car.getModel()}"></label>
        <label name="name" th:text="${car.color.getName()}"></label>
        ?</h1>
    <div class="container">
    <form action="home" th:action="@{/cars/edit/{id}(id=${car.id})}" method="post" enctype="multipart/form-data">
        <input type="text" id="vendor" name="vendor" th:value="${car.vendor}">
        <input type="text" id="model" name="model" th:value="${car.model}">
        <select name="color_id" id="color_id">
            <option th:each="color : ${colors}"
                    th:value="${color.getId()}"
                    th:utext="${color.getName()}"
            th:selected="${car.getColor().getId()==color.getId()}"/>
        </select>
        <div class="container">
            <div class="row">
                        <img width="50%" class="img-thumbnail" th:src="@{'/get-image/'+${car.getImage_1()}}" alt="image">
                        <img width="50%" class="img-thumbnail" th:src="@{'/get-image/'+${car.getImage_2()}}" alt="image">
                        <img width="50%" class="img-thumbnail" th:src="@{'/get-image/'+${car.getImage_3()}}" alt="image">
                        <img width="50%" class="img-thumbnail" th:src="@{'/get-image/'+${car.getImage_4()}}" alt="image">
                        <img width="50%" class="img-thumbnail" th:src="@{'/get-image/'+${car.getImage_5()}}" alt="image">
            </div>
        <div name="files[]" id="files[]">
            <div class="uploader">
                <div class="wrapper">
                    <div class="images">
                        <div class="pic" id="pic">
                            <input class="btn btn-outline-info btn-block btn-flat" value="Додати файли">
                        </div>
                    </div>
                </div>
            </div>
            <div id="filesContainer">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Файл</th>
                        <th>Ім'я</th>
                        <th>Розмір</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="tbodyFileList">
                    </tbody>
                </table>
            </div>
        </div>
            <div class="form-group col-xs-offset-8 col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Зберегти</button>
            </div>
            <div class="form-group col-xs-offset-8 col-xs-4">
                <a th:href="@{/cars}" class="btn btn-success btn-block btn-flat">Скасувати</a>
            </div>
        </div>
    </form>
</div>
<script th:src="@{'/assets/js/jquery-2.1.4.min.js'}"></script>
<script  th:src="@{'/assets/js/uploader.js'}" ></script>
</div>
</body>
</html>
