<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Кольори</title>
    <link rel="stylesheet"
          th:href="@{/assets/css/index.min.css}" />
</head>
<body>
<div layout:fragment="content">
    <h1>Наші кольори!</h1>
    <table class="table">
        <tr th:each="color : ${colors}">
            <td th:text="${color.name}"></td>
        </tr>
    </table>



</div>
</body>
</html>
